.login {
  padding: 110px 0 160px;
  .container {
    max-width: 600px;
  }
  &-title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 32px;
  }
  @media screen and (max-width: 991px) {
    padding: 56px 0 80px;
    &-title {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
}

.form {
  &-item {
    height: 50px;
    border-bottom: 1px solid #dcdddd;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    input,
    select {
      width: 100%;
      height: 100%;
      &::placeholder {
        color: $dark-400;
      }
    }
    input[type="radio"] {
      width: 16px;
      height: 16px;
    }
    &--password {
      button {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 24px;
          &::before {
            color: #231815;
          }
          &.icon-open-eye {
            display: none;
          }
        }
        &.open-eye {
          span {
            &.icon-open-eye {
              display: block;
            }
            &.icon-close-eye {
              display: none;
            }
          }
        }
      }
    }
    &--radio {
        gap: 8px;
    }
  }
  &-link {
    color: $primary-400;
    margin-bottom: 28px;
  }
  &-btn {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-social {
    margin-top: 36px;
    text-align: center;
    margin-bottom: 100px;
    &__text {
      margin-bottom: 20px;
    }
    &__main {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      button {
        margin: 0;
        padding: 0;
        span {
          font-size: 52px;
          &.icon-fb-1 {
            &::before {
              color: #2f6db6;
            }
          }
        }
      }
    }
  }
  &-address {
    label {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 8px;
      display: block;
    }
    .twzipcode {
      display: flex;
      gap: 20px;
      select,
      input {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #dcdddd;
        margin-bottom: 8px;
      }
      input {
        order: 1;
      }
      select[name="county"] {
        order: 2;
      }
      select[name="district"] {
        order: 3;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &-item {
      height: 44px;
      margin-bottom: 16px;
    }
    &-link {
      margin-bottom: 16px;
    }
    &-btn {
      height: 48px;
      font-size: 18px;
    }
    &-social {
      margin-top: 20px;
      margin-bottom: 52px;
      &__text {
        margin-bottom: 12px;
      }
      &__main {
        gap: 4px;
        button {
          span {
            font-size: 40px;
          }
        }
      }
    }
  }
}

.account {
  padding: 40px 0 100px;
  .container {
    display: flex;
  }
}

.account-sidebar {
  width: 260px;
  background-color: $white;
  padding: 40px 20px;
  border-right: 1px solid $secondary-700;
  &_nav {
    li {
      margin: 8px 0;
    }
    a {
      display: block;
      padding: 8px 24px;
      font-weight: 500;
      font-size: 20px;
      position: relative;
      z-index: 0;
      &:hover,
      &.active {
        border-left: 6px solid $primary-400;
        padding-left: 32px;
        color: $primary-500;
        &::before,
        &::after {
          opacity: 1;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.account-content {
  width: calc(100% - 260px);
  padding: 40px 0 100px 40px;
  @media screen and (max-width: 991px) {
    width: 100%;
    padding: 40px 0 80px;
  }
}

.account-order {
  &:not(.cart-detail) {
    .container {
      padding: 0;
    }
  }
  table {
    width: 100%;
    min-width: 900px;
  }
  th {
    padding: 16px;
    background-color: $secondary-700;
    font-weight: 700;
    color: $white;
  }
  td {
    padding: 16px;
    border-bottom: 1px solid $dark-100;
    font-weight: 500;
    transition: $transition;
    &:first-child {
      border-left: 1px solid $dark-100;
    }
    &:last-child {
      border-right: 1px solid $dark-100;
    }
  }
  tr {
    &:last-child {
      td {
        &:first-child {
          border-radius: 0 0 0 4px;
        }
        &:last-child {
          border-radius: 0 0 4px 0;
        }
      }
    }
  }
  &_func {
    display: flex;
    gap: 16px;
    .btn {
      padding: 6px 12px;
      font-size: 14px;
      width: auto;
      height: auto;
    }
  }
  .form-item {
    margin: 0;
  }
  @media screen and (max-width: 991px) {
    .container {
      max-width: inherit;
      overflow-x: auto;
    }
  }
}

.information {
  .btn {
    font-size: 14px;
    width: fit-content;
    margin: 0 0 20px auto;
    padding: 8px 16px;
    display: block;
  }
  &-sec {
    background-color: $white;
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin-bottom: 20px;
    &__title {
      font-size: 20px;
      font-weight: 700;
      color: $primary-700;
      margin-bottom: 8px;
    }
  }
  &-table {
    width: 100%;
    td {
      padding: 8px 12px;
      border-bottom: 1px solid $dark-100;
      font-weight: 500;
    }
    &__title {
      color: $dark-500;
      width: 90px;
    }
    tr {
      &:last-child {
        td {
          border: 0;
        }
      }
    }
  }
  &-list {
    line-height: 2;
    font-weight: 500;
    padding-left: 20px;
  }
}

.buy-detail {
  .container {
    padding: 0;
  }
  table {
    width: 100%;
    min-width: 400px;
  }
  th {
    padding: 8px 12px;
    border-bottom: 1px solid $dark-100;
    font-weight: 700;
    color: $dark-500;
  }
  td {
    padding: 8px 12px;
    border-bottom: 1px solid $dark-100;
  }
  @media screen and (max-width: 991px) {
    .container {
      max-width: inherit;
      overflow-x: auto;
    }
  }
}

.change-password {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
