.cart {
    padding-bottom: 100px;
}

.cart-step {
  padding: 50px 20px 110px;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
    z-index: 0;
    &.active {
      .cart-step {
        &_num {
          background-color: $primary-700;
          border-color: $primary-700;
          p {
            color: $white;
          }
          &::before {
            opacity: 1;
          }
        }
        &_text {
          color: $primary-700;
          font-weight: 700;
        }
      }
    }
    &::before {
      position: absolute;
      width: calc(100% + 12px);
      height: calc(100% + 12px);
      border-radius: 50%;
      background-color: rgba(0, 123, 255, 0.6);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      opacity: 0;
    }
    &::after {
      position: absolute;
      content: "";
      width: calc((640px - 180px - 120px) / 2);
      height: 1px;
      background-color: $dark-400;
      left: calc(100% + 20px);
      top: 30px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &_num {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $dark-300;
    > p {
      font-size: 24px;
      margin: 0;
      font-weight: 700;
      color: $dark-500;
    }
  }
  &_text {
    position: absolute;
    white-space: nowrap;
    margin: 0;
    top: calc(100% + 24px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 24px;
    color: $dark-500;
  }
  @media screen and (max-width: 640px) {
    &_item {
      &::after {
        width: calc((100vw - 180px - 80px) / 2);
        left: calc(100% + 10px);
      }
    }
  }
  @media screen and (max-width: 575px) {
    &_text {
      font-size: 18px;
      top: calc(100% + 16px);
    }
  }
}

.cart-product {
    display: flex;
    align-items: center;
    gap: 20px;
    &__pic {
        width: 80px;
        padding-bottom: 80px;
        position: relative;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &__name {
        margin: 0;
    }
}

.cart-total {
    text-align: right;
    margin-top: 40px;
    margin-bottom: 40px;
    p {
        line-height: 2;
    }
    &__price {
        margin-top: 20px;
        padding: 16px 0;
        border-top: 1px solid $dark-100;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        .price {
            font-weight: 700;
            font-size: 24px;
            font-weight: 700;
        }
    }
}

.cart-form {
    &__title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .form-item {
        margin-bottom: 12px;
    }
    .row {
        margin-left: -20px;
        margin-right: -20px;
        >div {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .remark {
        margin-top: 40px;
        font-size: 14px;
    }
    @media screen and (max-width: 991px) {
        &__title {
        font-size: 24px;
    }
    .row {
        .cart-form__wrapper {
            margin-bottom: 40px;
        }
    }
    }
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 40px;
}

.checkout {
  &-state {
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 60px;
    text-align: center;
    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__text {
        font-weight: 500;
        margin-bottom: 30px;
    }
  }
}