.knowledge-date {
  width: fit-content;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 1px solid $primary-400;
  @media screen and (max-width: 991px) {
    font-size: 14px;
    padding-bottom: 4px;
  }
}

.knowledge-list {
  padding-top: 76px;
  padding-bottom: 64px;
  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 52px;
  }
  .title {
    text-align: left;
    font-size: 72px;
    padding: 0;
    margin-bottom: 16px;
    &::after {
      display: none;
    }
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    padding: 72px 0;
    border-bottom: 1px solid $secondary-700;
    &:last-child {
      border: 0;
    }
    &:nth-child(even) {
      .knowledge-list {
        &-text {
          padding-left: 120px;
        }
        &-pic {
          border-radius: 156px 0 0 156px;
        }
      }
    }
    &:nth-child(odd) {
      .knowledge-list {
        &-pic {
          order: 2;
          border-radius: 0 156px 156px 0;
        }
        &-text {
          order: 1;
          padding-right: 120px;
        }
      }
    }
  }
  &-pic {
    width: 45%;
    position: relative;
    padding-bottom: calc(45% * 0.56);
    overflow: hidden;
    > img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }
  &-text {
    width: 55%;
    &__title {
      margin-bottom: 48px;
      font-size: 36px;
      font-weight: 900;
    }
    &__intro {
      font-size: 20px;
      font-weight: 100;
      line-height: 2;
      letter-spacing: 0.2em;
      margin-bottom: 44px;
    }
  }
  @media screen and (max-width: 991px) {
    padding-top: 36px;
    &__title {
      margin-bottom: 12px;
      font-size: 14px;
    }
    .title {
      font-size: 48px;
    }
    &__wrapper {
      flex-direction: column;
      padding: 40px 0;
      &:nth-child(odd) {
        .knowledge-list {
          &-pic {
            order: 1;
          }
          &-text {
            order: 2;
          }
        }
      }
    }
    &-pic {
      width: 100%;
      padding-bottom: 56%;
      border-radius: 60px !important;
    }
    &-text {
      width: 100%;
      padding: 24px 0 0 !important;
      &__title {
        font-size: 24px;
        margin-bottom: 12px;
      }
      &__intro {
        font-size: 16px;
      }
    }
  }
}

.knowledge-detail {
    padding-top: 72px;
    padding-bottom: 124px;
    &__title {
        text-align: center;
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 40px;
    }
    .knowledge-date {
        margin: 0 auto 72px;
    }
    &__wrapper {
        display: flex;
    }
    &-content {
        width: calc(100% - 300px);
        font-size: 20px;
        font-weight: 100;
        line-height: 2;
        letter-spacing: 0.075em;
        padding-right: 20px;
        ul {
            li {
                position: relative;
                padding-left: 24px;
                &::before {
                    position: absolute;
                    content: "";
                    width: 16px;
                    height: 16px;
                    background-image: url(../img/list-check.svg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
        }
    }
    &-side {
        width: 300px;
        padding-left: 72px;
        border-left: 1px solid $secondary-700;
        h2 {
            font-size: 36px;
            font-weight: 900;
            margin-bottom: 28px;
        }
        ul {
            a {
                font-size: 24px;
                font-weight: 500;
                .num {
                    color: $primary-400;
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
    padding-top: 36px;
    padding-bottom: 64px;
    &__title {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .knowledge-date {
        margin: 0 auto 36px;
    }
    &__wrapper {
        flex-direction: column;
    }
    &-content {
        width: 100%;
        font-size: 16px;
        padding: 0;
        padding-bottom: 40px;
        ul {
            li {
                padding-left: 16px;
                &::before {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
    &-side {
        width: 100%;
        padding: 20px 0 0;
        border-left: 0;
        border-top: 1px solid $secondary-700;
        h2 {
            font-size: 24px;
            margin-bottom: 12px;
        }
        ul {
            a {
                font-size: 18px;
            }
        }
    }
        
    }
}
