.knowledge-list {
  padding-top: 76px;
  padding-bottom: 64px;
  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 52px;
  }
  .title {
    text-align: left;
    font-size: 72px;
    padding: 0;
    margin-bottom: 16px;
    &::after {
        display: none;
    }
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    padding: 72px 0;
    border-bottom: 1px solid $secondary-700;
    &:last-child {
        border: 0;
    }
    &:nth-child(even) {
      .knowledge-list {
        &-text {
          padding-left: 120px;
        }
        &-pic {
            border-radius: 156px 0 0 156px;
        }
      }
    }
    &:nth-child(odd) {
      .knowledge-list {
        &-pic {
          order: 2;
          border-radius: 0 156px 156px 0;
        }
        &-text {
          order: 1;
          padding-right: 120px;
        }
      }
    }
  }
  &-pic {
    width: 45%;
    position: relative;
    padding-bottom: calc(45% * 0.56);
    overflow: hidden;
    > img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }
  &-text {
    width: 55%;
    &__title {
      margin-bottom: 48px;
      font-size: 36px;
      font-weight: 900;
    }
    &__intro {
        font-size: 20px;
        font-weight: 100;
        line-height: 2;
        letter-spacing: 0.2em;
        margin-bottom: 44px;
    }
    &__date {
        width: fit-content;
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 8px;
        border-bottom: 1px solid $primary-400;
    }
  }
  @media screen and (max-width: 991px) {
  padding-top: 36px;
  &__title {
    margin-bottom: 12px;
    font-size: 14px;
  }
  .title {
    font-size: 48px;
  }
    &__wrapper {
      flex-direction: column;
      padding: 40px 0;
      &:nth-child(odd) {
        .knowledge-list {
          &-pic {
            order: 1;
          }
          &-text {
            order: 2;
          }
        }
      }
    }
    &-pic {
      width: 100%;
      padding-bottom: 56%;
      border-radius: 60px !important;
    }
    &-text {
      width: 100%;
      padding: 24px 0 0 !important;
      &__title {
        font-size: 24px;
        margin-bottom: 12px;
      }
      &__intro {
        font-size: 16px;
      }
      &__date {
        font-size: 14px;
        padding-bottom: 4px;
      }
    }
  }
}
