.product-list {
  padding: 240px 0 64px;
  .title {
    color: $white;
  }
  .row {
    margin-left: -42px;
    margin-right: -42px;
    > div {
      padding-left: 42px;
      padding-right: 42px;
    }
  }
  &_item {
    display: block;
    margin-bottom: 80px;
    text-align: center;
    position: relative;
  }
  &_tag {
    padding: 12px 16px 12px 24px;
    background-color: $primary-400;
    color: $white;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.1em;
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 5;
  }
  &_pic {
    width: 100%;
    padding-bottom: 108%;
    position: relative;
    margin-bottom: 16px;
    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
    &::after,
    &::before {
      position: absolute;
      content: "";
      width: 75%;
      height: 84%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }
    &::before {
      background-image: url(../img/product-decoration-1.svg);
      top: -1.5%;
      left: -1.5%;
    }
    &::after {
      background-image: url(../img/product-decoration-2.svg);
      right: -1.5%;
      bottom: -1.5%;
    }
  }
  &_title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 16px;
    line-height: 1.6;
  }
  &_price,
  &_origin {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 0;
    line-height: 1.5;
  }
  &_origin {
    color: $primary-400;
    text-decoration: line-through;
  }
  @media screen and (max-width: 991px) {
    padding: 120px 0 40px;
    &_item {
      margin-bottom: 40px;
    }
    &_tag {
      padding: 4px 8px 4px 12px;
      font-size: 14px;
    }
    .row {
      margin-left: -10px;
      margin-right: -10px;
      > div {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &_title {
      font-size: 20px;
    }
    &_price,
    &_origin {
      font-size: 18px;
    }
  }
}

.product-detail {
  padding: 88px 0;
  .container {
    > .row {
      margin-left: -25px;
      margin-right: -25px;
      align-items: center;
      > div {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
  &_pic {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &_side {
    width: 100px;
    height: 100%;
    overflow: hidden;
    .swiper-slide {
      height: auto !important;
      cursor: pointer;
    }
    &_item {
      position: relative;
      width: 100%;
      padding-bottom: 130%;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }
  }
  &_swiper {
    width: calc(100% - 100px - 12px);
    overflow: hidden;
    position: relative;
    &_item {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }
    .swiper-pagination {
        bottom: 0;
        display: none;
        &-bullet {
            background-color: $primary-50;
            opacity: 1;
            &-active {
                background-color: $secondary-500;
            }
        }
    }
  }
  &_title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 24px;
  }
  &_intro {
    margin-bottom: 32px;
    text-align: justify;
    color: #595757;
    font-size: 15px;
    line-height: 1.7;
  }
  &_price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 116px;
    &_current {
      font-size: 26px;
      font-weight: 700;
      margin: 0;
    }
    &_origin {
      font-size: 22px;
      color: #b5b5b6;
      margin: 0;
      text-decoration: line-through;
    }
  }
  &_btn {
    font-size: 18px;
    color: $white;
    font-weight: 500;
    letter-spacing: 0.2em;
    background-color: $secondary-700;
    width: 325px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: $primary-400;
    }
  }
  @media screen and (max-width: 991px) {
    &_pic {
      margin-bottom: 40px;
    }
    &_side {
      display: none;
    }
    &_swiper {
      width: 100%;
    padding-bottom: 24px;
       .swiper-pagination {
        display: block;
       }
    }
    &_title {
      font-size: 24px;
      margin-bottom: 16px;
    }
    &_intro {
      margin-bottom: 20px;
    }
    &_price {
      margin-bottom: 56px;
      &_current {
        font-size: 20px;
      }
      &_origin {
        font-size: 16px;
      }
    }
    &_btn {
      font-size: 16px;
      width: 100%;
    }
  }
}

.product-description {
  &__title {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $secondary-700;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.2em;
  }
  &__wrapper {
    padding: 148px 20px 220px;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    >img {
      width: 100%;
    }
  }
}

.related-product {
  padding: 48px 0 120px;
  background-color: $primary-50;
  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 76px;
  }
  .product-list_item {
    margin: 0;
  }
  @media screen and (max-width: 991px) {
  padding: 40px 0 60px;
  &__title {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .product-list_item {
    margin-bottom: 24px;
  }
    
  }
}