.product-list {
  padding: 240px 0 64px;
  .title {
    color: $white;
  }
  .row {
    margin-left: -42px;
    margin-right: -42px;
    > div {
      padding-left: 42px;
      padding-right: 42px;
    }
  }
  &_item {
    display: block;
    margin-bottom: 80px;
    text-align: center;
    position: relative;
  }
  &_tag {
    padding: 12px 16px 12px 24px;
    background-color: $primary-400;
    color: $white;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.1em;
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 5;
  }
  &_pic {
    width: 100%;
    padding-bottom: 108%;
    position: relative;
    margin-bottom: 16px;
    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
    &::after,
    &::before {
      position: absolute;
      content: "";
      width: 75%;
      height: 84%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }
    &::before {
      background-image: url(../img/product-decoration-1.svg);
      top: -1.5%;
      left: -1.5%;
    }
    &::after {
      background-image: url(../img/product-decoration-2.svg);
      right: -1.5%;
      bottom: -1.5%;
    }
  }
  &_title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 16px;
    line-height: 1.6;
  }
  &_price,
  &_origin {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 0;
    line-height: 1.5;
  }
  &_origin {
    color: $primary-400;
    text-decoration: line-through;
  }
  @media screen and (max-width: 991px) {
    padding: 120px 0 40px;
    &_item {
      margin-bottom: 40px;
    }
    &_tag {
      padding: 4px 8px 4px 12px;
      font-size: 14px;
    }
    .row {
      margin-left: -10px;
      margin-right: -10px;
      > div {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &_title {
      font-size: 20px;
    }
    &_price,
    &_origin {
      font-size: 18px;
    }
  }
}
