.qrcode {
  padding-top: 22vw;
  padding-bottom: 12vw;
  background-color: $primary-300;
  background-image: url(../img/line-banner.webp);
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  &__wrapper {
    max-width: 900px;
    width: calc(100% - 40px);
    background-color: $white;
    border-radius: 20px;
    margin: 0 auto;
    padding: 110px 40px;
    text-align: center;
  }
  &-img {
    width: 220px;
    margin: 0 auto 32px;
  }
  &-title {
    color: $dark-700;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
  }
  &-text {
    margin: 0;
    color: $dark-700;
    font-weight: 300;
  }
  @media screen and (max-width: 991px) {
    &__wrapper {
      padding: 40px 20px;
    }
    &-img {
      width: 140px;
    }
    &-title {
      font-size: 20px;
    }
    &-text {
      font-size: 14px;
    }
  }
}

.contact-info {
    padding: 68px 20px 225px;
    text-align: center;
    &__logo {
        width: 350px;
        margin: 0 auto 56px;
    }
    @media screen and (max-width: 991px) {
        padding: 36px 20px 110px;
        &__logo {
            width: 160px;
            margin-bottom: 28px;
        }
        .contact-social {
            justify-content: center;
        }
    }
}