.step {
  margin-bottom: 80px;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1080px;
    gap: 120px 80px;
    text-align: center;
  }
  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
    z-index: 0;
    width: calc((100% - 240px) / 4);
    &::after {
      position: absolute;
      content: "";
      width: 32px;
      height: 34px;
      background-image: url(../img/triangle.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      right: -56px;
      transform: translateY(-50%);
    }
    &:nth-child(4n),
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &_num {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
  }
  &_icon {
    font-size: 132px;
    display: block;
    margin-bottom: 24px;
  }
  &_text {
    font-size: 28px;
    font-weight: 700;
  }
  @media screen and (max-width: 1199px) {
    .container {
      gap: 60px 40px;
    }
    &_item {
      width: calc((100% - 80px) / 3);
      &::after {
        position: absolute;
        content: "";
        width: 24px;
        height: 26px;
        right: -32px;
      }
      &:nth-child(4n) {
        &::after {
          display: block;
        }
      }
      &:nth-child(3n) {
        &::after {
          display: none;
        }
      }
    }
    &_num {
      margin-bottom: 20px;
      font-size: 24px;
    }
    &_icon {
      font-size: 100px;
      margin-bottom: 12px;
    }
    &_text {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 575px) {
    .container {
      gap: 32px 20px;
    }
    &_item {
      width: calc((100% - 20px) / 2);
      &:nth-child(3n) {
        &::after {
          display: block;
        }
      }
      &:nth-child(2n) {
        &::after {
          display: none;
        }
      }
      &::after {
        width: 16px;
        height: 17px;
        right: -18px;
      }
      &:nth-child(2n + 1) {
        &::before {
          position: absolute;
          content: "";
          width: 16px;
          height: 17px;
          background-image: url(../img/triangle.svg);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
    }
    &_num {
      margin-bottom: 12px;
      font-size: 20px;
    }
    &_icon {
      font-size: 80px;
      margin-bottom: 8px;
    }
    &_text {
      font-size: 18px;
    }
  }
}

.term-text {
  font-size: 14px;
  h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  ol,
  ul {
    padding-left: 54px;
    margin-bottom: 32px;
  }
  ul {
    list-style: disc;
  }
  p {
    margin-bottom: 8px;
  }
  &--scam {
    margin-top: 110px;
  }
  @media screen and (max-width: 991px) {
    h4 {
      font-size: 20px;
    }
    ol,
    ul {
      padding-left: 36px;
      margin-bottom: 20px;
    }
  &--scam {
    margin-top: 56px;
  }
  }
}

.term-date {
  text-align: center;
  font-size: 17px;
  margin-bottom: 56px;
  margin-top: -16px;
  @media screen and (max-width: 991px) {
    font-size: 14px;
    margin-top: -8px;
  }
}

.shipping-table {
  padding: 170px 0 80px;
  .container {
    max-width: 1040px;
  }
  table {
    width: 100%;
    min-width: 400px;
    font-size: 40px;
    text-align: center;
  }
  th {
    padding: 24px 16px;
    font-weight: 700;
    border-bottom: 7px solid $secondary-700;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 7px;
      height: calc(100% - 24px);
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      background-color: $secondary-700;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  td {
    padding: 48px 16px;
    border-bottom: 1px solid $secondary-700;
    border-right: 1px solid $secondary-700;
    font-weight: 500;
    transition: $transition;
    position: relative;
    &:last-child {
      border-right: 0;
    }
  }
  tr {
    position: relative;
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
    &:nth-child(2) {
      td {
        &::before {
          position: absolute;
          content: "";
          width: 110%;
          height: 12px;
          background-color: $white;
          top: 0;
          left: -5%;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding: 40px 0 60px;
    .container {
      max-width: inherit;
      overflow-x: auto;
    }
  table {
    font-size: 18px;
  }
  th {
    padding: 16px;
    border-bottom: 4px solid $secondary-700;
    &::after {
      width: 4px;
      height: calc(100% - 16px);
    }
  }
  td {
    padding: 16px;
  }
  tr {
    &:nth-child(2) {
      td {
        &::before {
          height: 8px;
        }
      }
    }
  }
  }
}
