@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bpudot');
  src:  url('fonts/icomoon.eot?bpudot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bpudot') format('truetype'),
    url('fonts/icomoon.woff?bpudot') format('woff'),
    url('fonts/icomoon.svg?bpudot#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e900";
  color: #415f4c;
}
.icon-arrow-down:before {
  content: "\e901";
  color: #415f4c;
}
.icon-arrow-left:before {
  content: "\e902";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e903";
  color: #fff;
}
.icon-cart-1:before {
  content: "\e904";
  color: #415f4c;
}
.icon-cart-2:before {
  content: "\e905";
  color: #415f4c;
}
.icon-check-1:before {
  content: "\e906";
  color: #415f4c;
}
.icon-check-2:before {
  content: "\e907";
  color: #c7d185;
}
.icon-clipboard:before {
  content: "\e908";
  color: #415f4c;
}
.icon-close-eye:before {
  content: "\e909";
}
.icon-delivery:before {
  content: "\e90a";
  color: #415f4c;
}
.icon-fb-1:before {
  content: "\e90b";
  color: #415f4c;
}
.icon-ig:before {
  content: "\e90c";
  color: #415f4c;
}
.icon-line-1:before {
  content: "\e90d";
  color: #415f4c;
}
.icon-line-2:before {
  content: "\e90e";
  color: #fff;
}
.icon-line-3 .path1:before {
  content: "\e90f";
  color: rgb(60, 176, 86);
}
.icon-line-3 .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(60, 176, 86);
}
.icon-line-3 .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-line-3 .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-line-3 .path5:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-line-3 .path6:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-line-3 .path7:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(60, 176, 86);
}
.icon-line-3 .path8:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(60, 176, 86);
}
.icon-line-3 .path9:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(60, 176, 86);
}
.icon-line-3 .path10:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(60, 176, 86);
}
.icon-mail:before {
  content: "\e919";
  color: #415f4c;
}
.icon-open-eye:before {
  content: "\e91a";
}
.icon-order:before {
  content: "\e91b";
  color: #415f4c;
}
.icon-parcel:before {
  content: "\e91c";
  color: #415f4c;
}
.icon-people-plus:before {
  content: "\e91d";
  color: #415f4c;
}
.icon-search:before {
  content: "\e91e";
  color: #415f4c;
}
.icon-triangle-right:before {
  content: "\e91f";
  color: #415f4c;
}
.icon-x:before {
  content: "\e920";
}
